dev/io.openliberty.org.apache.myfaces.4.0/src/META-INF/schema/myfaces_facelets_core_2_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<!--
    ** WARNING: This file was automatically generated. Do not edit it directly,
    **          or you will lose your changes.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           version="1.0"
           xml:lang="en"
           elementFormDefault="qualified"
           targetNamespace="http://xmlns.jcp.org/jsf/core">



    <xs:annotation>
        <xs:documentation>This tag library implements the standard JSF core tags for Facelets.</xs:documentation>
        <xs:documentation>display-name: JSF Core Facelets Tag Library.</xs:documentation>
        <xs:documentation>tlib-version: 2.2</xs:documentation>
        <xs:documentation>short-name: f</xs:documentation>
    </xs:annotation>

    <xs:element name="importConstants">
        <xs:annotation>
          <xs:documentation><![CDATA[$component.longDescription]]></xs:documentation>
          <xs:documentation>body-content: empty</xs:documentation>
        </xs:annotation>

        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>     
          <xs:attribute name="type" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="var" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="id" >
            <xs:annotation>
              <xs:documentation><![CDATA[Get a string which uniquely identifies this UIComponent within the scope of the nearest ancestor NamingContainer
component. The id is not necessarily unique across all components in the current view.]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: true]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="rendered" >
            <xs:annotation>
              <xs:documentation><![CDATA[A boolean value that indicates whether this component should be rendered. Default value: true.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="binding" >
            <xs:annotation>
              <xs:documentation><![CDATA[Identifies a backing bean property (of type UIComponent or appropriate subclass) to bind " + "to this component instance. This value must be an EL expression.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.component.UIComponent]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="subview">
        <xs:annotation>
          <xs:documentation><![CDATA[Base class for components that provide a new "namespace" for the ids of their
child components.
<p>
See the javadocs for interface NamingContainer for further details.
</p>]]></xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>

        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>     
          <xs:attribute name="rendered" >
            <xs:annotation>
              <xs:documentation><![CDATA[A boolean value that indicates whether this component should be rendered. Default value: true.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="id" use="required">
            <xs:annotation>
              <xs:documentation><![CDATA[Get a string which uniquely identifies this UIComponent within the scope of the nearest ancestor NamingContainer
component. The id is not necessarily unique across all components in the current view.]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: true]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="binding" >
            <xs:annotation>
              <xs:documentation><![CDATA[Identifies a backing bean property (of type UIComponent or appropriate subclass) to bind " + "to this component instance. This value must be an EL expression.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.component.UIComponent]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="viewAction">
        <xs:annotation>
          <xs:documentation><![CDATA[]]></xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>

        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>     
          <xs:attribute name="immediate" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="actionExpression" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Method Signature: java.lang.Object myMethod(  )]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="phase" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="onPostback" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="id" >
            <xs:annotation>
              <xs:documentation><![CDATA[Get a string which uniquely identifies this UIComponent within the scope of the nearest ancestor NamingContainer
component. The id is not necessarily unique across all components in the current view.]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: true]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="rendered" >
            <xs:annotation>
              <xs:documentation><![CDATA[A boolean value that indicates whether this component should be rendered. Default value: true.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="binding" >
            <xs:annotation>
              <xs:documentation><![CDATA[Identifies a backing bean property (of type UIComponent or appropriate subclass) to bind " + "to this component instance. This value must be an EL expression.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.component.UIComponent]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="viewParam">
        <xs:annotation>
          <xs:documentation><![CDATA[TODO: documentation on jsp and pld are not the same. It appear two
params: maxlength and for, but no property getter and setter founded here. 
If maxlength is used, we can put something like this: 
JSFJspProperty(name = "maxlength", returnType = "java.lang.String")]]></xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>

        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>     
          <xs:attribute name="maxlength" >
            <xs:annotation>
              <xs:documentation><![CDATA[The max number or characters allowed for this param]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: int]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="value" >
            <xs:annotation>
              <xs:documentation><![CDATA[Return the current value of this component.
<p>
If a submitted value has been converted but not yet pushed into the
model, then return that locally-cached value (see isLocalValueSet).
</p>
Otherwise, evaluate an EL expression to fetch a value from the model.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Object]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="required" >
            <xs:annotation>
              <xs:documentation><![CDATA[A boolean value that indicates whether an input value is required.
<p>
If this value is true and no input value is provided by a postback operation, then the "requiredMessage" text is
registered as a FacesMessage for the request, and validation fails.
</p>
<p>
Default value: false.
</p>]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="converterMessage" >
            <xs:annotation>
              <xs:documentation><![CDATA[Text to be displayed to the user as an error message when conversion of a submitted value to the target type
fails.
<p>
</p>]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="requiredMessage" >
            <xs:annotation>
              <xs:documentation><![CDATA[Text to be displayed to the user as an error message when this component is marked as "required" but no input
data is present during a postback (ie the user left the required field blank).]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="validatorMessage" >
            <xs:annotation>
              <xs:documentation><![CDATA[Text which will be shown if validation fails.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="converter" >
            <xs:annotation>
              <xs:documentation><![CDATA[An expression that specifies the Converter for this component.
<p>
The value can either be a static value (ID) or an EL expression. When a static id is
specified, an instance of the converter type registered with that id is used. When this
is an EL expression, the result of evaluating the expression must be an object that
implements the Converter interface.
</p>]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.convert.Converter]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="id" >
            <xs:annotation>
              <xs:documentation><![CDATA[Get a string which uniquely identifies this UIComponent within the scope of the nearest ancestor NamingContainer
component. The id is not necessarily unique across all components in the current view.]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: true]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="binding" >
            <xs:annotation>
              <xs:documentation><![CDATA[Identifies a backing bean property (of type UIComponent or appropriate subclass) to bind " + "to this component instance. This value must be an EL expression.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.component.UIComponent]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="param">
        <xs:annotation>
          <xs:documentation><![CDATA[This tag associates a parameter name-value pair with the nearest parent UIComponent. A UIComponent is created to
represent this name-value pair, and stored as a child of the parent component; what effect this has depends upon the
renderer of that parent component.
<p>
Unless otherwise specified, all attributes accept static values or EL expressions.
</p>]]></xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>

        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>     
          <xs:attribute name="value" >
            <xs:annotation>
              <xs:documentation><![CDATA[The value of this component.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Object]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="name" >
            <xs:annotation>
              <xs:documentation><![CDATA[The name under which the value is stored.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="id" >
            <xs:annotation>
              <xs:documentation><![CDATA[Get a string which uniquely identifies this UIComponent within the scope of the nearest ancestor NamingContainer
component. The id is not necessarily unique across all components in the current view.]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: true]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="binding" >
            <xs:annotation>
              <xs:documentation><![CDATA[Identifies a backing bean property (of type UIComponent or appropriate subclass) to bind " + "to this component instance. This value must be an EL expression.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.component.UIComponent]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="selectItem">
        <xs:annotation>
          <xs:documentation><![CDATA[This tag associates a single SelectItem with the nearest parent UIComponent. The item represents a single option for
a component such as an h:selectBooleanCheckbox or h:selectOneMenu. See also component selectItems.
<p>
Unless otherwise specified, all attributes accept static values or EL expressions.
</p>
<p>
UISelectItem should be nestetd inside a UISelectMany or UISelectOne component, and results in the addition of a
SelectItem instance to the list of available options for the parent component
</p>]]></xs:documentation>
          <xs:documentation>body-content: empty</xs:documentation>
        </xs:annotation>

        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>     
          <xs:attribute name="value" >
            <xs:annotation>
              <xs:documentation><![CDATA[The initial value of this component.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.model.SelectItem]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="itemDisabled" >
            <xs:annotation>
              <xs:documentation><![CDATA[Determine whether this item can be chosen by the user. When true, this item cannot be chosen by the user. If this
method is ever called, then any EL-binding for the disabled property will be ignored.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="itemEscaped" >
            <xs:annotation>
              <xs:documentation><![CDATA[The escape setting for the label of this selection item.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="itemDescription" >
            <xs:annotation>
              <xs:documentation><![CDATA[For use in development tools.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="itemLabel" >
            <xs:annotation>
              <xs:documentation><![CDATA[The string which will be presented to the user for this option.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="itemValue" >
            <xs:annotation>
              <xs:documentation><![CDATA[The value for this Item.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Object]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="noSelectionOption" >
            <xs:annotation>
              <xs:documentation><![CDATA[Indicate this component represent no selection option. 
Default value is false.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="id" >
            <xs:annotation>
              <xs:documentation><![CDATA[Get a string which uniquely identifies this UIComponent within the scope of the nearest ancestor NamingContainer
component. The id is not necessarily unique across all components in the current view.]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: true]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="binding" >
            <xs:annotation>
              <xs:documentation><![CDATA[Identifies a backing bean property (of type UIComponent or appropriate subclass) to bind " + "to this component instance. This value must be an EL expression.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.component.UIComponent]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="validateBean">
        <xs:annotation>
          <xs:documentation><![CDATA[<p>
<strong>BeanValidator</strong> is a {@link jakarta.faces.validator.Validator}
that doesn't do any validation itself, but delegates validation logic to
Bean Validation.
</p>]]></xs:documentation>
          <xs:documentation>tag-class: $component.tagClass</xs:documentation>
          <xs:documentation>body-content: empty</xs:documentation>
        </xs:annotation>
     
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="validationGroups" >
            <xs:annotation>
              <xs:documentation><![CDATA[Get the Bean Validation validation groups.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="disabled" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="for" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="binding" >
            <xs:annotation>
              <xs:documentation><![CDATA[A ValueExpression that evaluates to a BeanValidator.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.validator.BeanValidator]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="validateDoubleRange">
        <xs:annotation>
          <xs:documentation><![CDATA[Creates a validator and associateds it with the nearest parent
UIComponent.  When invoked, the validator ensures that values are
valid doubles that lie within the minimum and maximum values specified.

Commonly associated with a h:inputText entity.

Unless otherwise specified, all attributes accept static values or EL expressions.

see Javadoc of <a href="http://java.sun.com/javaee/javaserverfaces/1.2/docs/api/index.html">Faces Specification</a>]]></xs:documentation>
          <xs:documentation>tag-class: $component.tagClass</xs:documentation>
          <xs:documentation>body-content: empty</xs:documentation>
        </xs:annotation>
     
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="maximum" >
            <xs:annotation>
              <xs:documentation><![CDATA[The largest value that should be considered valid.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Double]]></xs:documentation>             
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="minimum" >
            <xs:annotation>
              <xs:documentation><![CDATA[The smallest value that should be considered valid.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Double]]></xs:documentation>             
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="disabled" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="for" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="binding" >
            <xs:annotation>
              <xs:documentation><![CDATA[A ValueExpression that evaluates to a DoubleRangeValidator.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.validator.DoubleRangeValidator]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="validateLength">
        <xs:annotation>
          <xs:documentation><![CDATA[Creates a validator and associateds it with the nearest parent
UIComponent.  When invoked, the validator ensures that values are
valid strings with a length that lies within the minimum and maximum
values specified.

Commonly associated with a h:inputText entity.

Unless otherwise specified, all attributes accept static values or EL expressions.

see Javadoc of <a href="http://java.sun.com/javaee/javaserverfaces/1.2/docs/api/index.html">Faces Specification</a>]]></xs:documentation>
          <xs:documentation>tag-class: $component.tagClass</xs:documentation>
          <xs:documentation>body-content: empty</xs:documentation>
        </xs:annotation>
     
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="maximum" >
            <xs:annotation>
              <xs:documentation><![CDATA[The largest value that should be considered valid.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Integer]]></xs:documentation>             
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="minimum" >
            <xs:annotation>
              <xs:documentation><![CDATA[The smallest value that should be considered valid.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Integer]]></xs:documentation>             
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="disabled" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="for" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="binding" >
            <xs:annotation>
              <xs:documentation><![CDATA[A ValueExpression that evaluates to a LengthValidator.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.validator.LengthValidator]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="validateLongRange">
        <xs:annotation>
          <xs:documentation><![CDATA[Creates a validator and associateds it with the nearest parent
UIComponent.  When invoked, the validator ensures that values
are valid longs that lie within the minimum and maximum values specified.

Commonly associated with a h:inputText entity.

Unless otherwise specified, all attributes accept static values or EL expressions.

see Javadoc of <a href="http://java.sun.com/javaee/javaserverfaces/1.2/docs/api/index.html">Faces Specification</a>]]></xs:documentation>
          <xs:documentation>tag-class: $component.tagClass</xs:documentation>
          <xs:documentation>body-content: empty</xs:documentation>
        </xs:annotation>
     
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="maximum" >
            <xs:annotation>
              <xs:documentation><![CDATA[The largest value that should be considered valid.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Long]]></xs:documentation>             
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="minimum" >
            <xs:annotation>
              <xs:documentation><![CDATA[The smallest value that should be considered valid.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Long]]></xs:documentation>             
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="disabled" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="for" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="binding" >
            <xs:annotation>
              <xs:documentation><![CDATA[A ValueExpression that evaluates to a LongRangeValidator.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.validator.LongRangeValidator]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="validateRegex">
        <xs:annotation>
          <xs:documentation><![CDATA[<p>
  <strong>RegexValidator</strong> is a {@link jakarta.faces.validator.Validator}
  that checks the value of the corresponding component against specified
  pattern using Java regular expression syntax.

  The regular expression syntax accepted by the RegexValidator class is
  same as mentioned in class {@link java.util.regex.Pattern} in package
  <code>java.util.regex</code>.
</p>

<p>
  The following algorithm is implemented:
</p>

<ul>
  <li>If the passed value is <code>null</code>, exit immediately.</li>
  <li>
    If the passed value is not a String, exit with a {@link #NOT_MATCHED_MESSAGE_ID}
    error message.
  </li>
  <li>
    If no pattern has been set, or pattern resolves to <code>null</code> or an
    empty String, throw a {@link jakarta.faces.validator.ValidatorException}
    with a {@link #PATTERN_NOT_SET_MESSAGE_ID} message.
  </li>
  <li>
    If pattern is not a valid regular expression, according to the rules as defined
    in class {@link java.util.regex.Pattern}, throw a {@link ValidatorException}
    with a (@link #MATCH_EXCEPTION_MESSAGE_ID} message.
  </li>
  <li>
    If a <code>pattern</code> property has been configured on this
    {@link jakarta.faces.validator.Validator}, check the passed value against this pattern.
    If value does not match pattern throw a {@link ValidatorException}
    containing a {@link #NOT_MATCHED_MESSAGE_ID} message.
  </li>
</ul>]]></xs:documentation>
          <xs:documentation>tag-class: $component.tagClass</xs:documentation>
          <xs:documentation>body-content: empty</xs:documentation>
        </xs:annotation>
     
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="pattern" use="required">
            <xs:annotation>
              <xs:documentation><![CDATA[Return the ValueExpression that yields the regular expression pattern when evaluated.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="disabled" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="for" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="binding" >
            <xs:annotation>
              <xs:documentation><![CDATA[A ValueExpression that evaluates to a RegexValidator.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.validator.RegexValidator]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="validateRequired">
        <xs:annotation>
          <xs:documentation><![CDATA[Check if a value is empty, in the same way as set UIInput required 
property to true (including all rules related to this property).]]></xs:documentation>
          <xs:documentation>tag-class: $component.tagClass</xs:documentation>
          <xs:documentation>body-content: empty</xs:documentation>
        </xs:annotation>
     
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="disabled" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="for" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="binding" >
            <xs:annotation>
              <xs:documentation><![CDATA[A ValueExpression that evaluates to a RequiredValidator.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.validator.RequiredValidator]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="actionListener">
        <xs:annotation>
              <xs:documentation><![CDATA[Register an ActionListener instance on the UIComponent associated with the closest parent UIComponent custom action.

See jakarta.faces.event.ActionListener
See jakarta.faces.component.ActionSource]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.ActionListenerHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="for" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>         
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="ajax">
        <xs:annotation>
              <xs:documentation><![CDATA[This tag creates an instance of AjaxBehavior, and associates it with the nearest 
parent UIComponent that implements ClientBehaviorHolder interface. This tag can
be used on single or composite components.
<p>
Unless otherwise specified, all attributes accept static values or EL expressions.
</p>
<p>
According to the documentation, the tag handler implementing this tag should meet
the following conditions:  
</p>
<ul>
<li>Since this tag attach objects to UIComponent instances, and those instances 
implements Behavior interface, this component should implement 
BehaviorHolderAttachedObjectHandler interface.</li>
<li>f:ajax does not support binding property. In theory we should do something similar
to f:convertDateTime tag does: extends from ConverterHandler and override setAttributes
method, but in this case BehaviorTagHandlerDelegate has binding property defined, so
if we extend from BehaviorHandler we add binding support to f:ajax.</li>
<li>This tag works as a attached object handler, but note on the api there is no component
to define a target for a behavior. See comment inside apply() method.</li>
</ul>]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.AjaxHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="disabled" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="event" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="execute" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Object]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="immediate" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="listener" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Method Signature: public void m(jakarta.faces.event.AjaxBehaviorEvent evt) " + "throws jakarta.faces.event.AbortProcessingException]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="onevent" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="onerror" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="render" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Object]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="delay" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="resetValues" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="attribute">
        <xs:annotation>
              <xs:documentation><![CDATA[Sets the specified name and attribute on the parent UIComponent. If the "value" specified is not a literal, it will
instead set the ValueExpression on the UIComponent. 

See jakarta.faces.component.UIComponent#getAttributes()
See jakarta.faces.component.UIComponent#setValueExpression(java.lang.String, jakarta.el.ValueExpression)]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.AttributeHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="attributes">
        <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.AttributesHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="convertDateTime">
        <xs:annotation>
              <xs:documentation><![CDATA[This tag associates a date time converter with the nearest parent UIComponent.

Unless otherwise specified, all attributes accept static values or EL expressions.

see Javadoc of <a href="http://java.sun.com/javaee/javaserverfaces/1.2/docs/api/index.html">Faces Specification</a><p>Register a DateTimeConverter instance on the UIComponent associated with the closest parent UIComponent custom
action.</p>]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.ConvertDateTimeHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="for" >
            <xs:annotation>
              <xs:documentation><![CDATA[{@inheritDoc}]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>         
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="dateStyle" >
            <xs:annotation>
              <xs:documentation><![CDATA[The style of the date.  Values include: default, short, medium, 
long, and full.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="locale" >
            <xs:annotation>
              <xs:documentation><![CDATA[The name of the locale to be used, instead of the default.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.util.Locale]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="pattern" >
            <xs:annotation>
              <xs:documentation><![CDATA[A custom Date formatting pattern, in the format used by java.text.SimpleDateFormat.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="timeStyle" >
            <xs:annotation>
              <xs:documentation><![CDATA[The style of the time.  Values include:  default, short, medium, long, 
and full.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="timeZone" >
            <xs:annotation>
              <xs:documentation><![CDATA[The time zone to use instead of GMT (the default timezone). When
this value is a value-binding to a TimeZone instance, that
timezone is used. Otherwise this value is treated as a String
containing a timezone id, ie as the ID parameter of method
java.util.TimeZone.getTimeZone(String).]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.util.TimeZone]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="type" >
            <xs:annotation>
              <xs:documentation><![CDATA[Specifies whether the date, time, or both should be
parsed/formatted.
Valid values are: "date", "time", "both", "localDate", "localDateTime", "localTime", "offsetTime",
"offsetDateTime", and "zonedDateTime".
The prefixes "local", "offset", "zoned" are used, when the type of the value is
one of the corresponding Java 8 Date Time API classes.
Default is "date".]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="binding" >
            <xs:annotation>
              <xs:documentation><![CDATA[A ValueExpression that evaluates to a DateTimeConverter.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.convert.DateTimeConverter]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="converter">
        <xs:annotation>
              <xs:documentation><![CDATA[Register a named Converter instance on the UIComponent associated with the closest parent UIComponent custom action.]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.ConvertDelegateHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="for" >
            <xs:annotation>
              <xs:documentation><![CDATA[{@inheritDoc}]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>         
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="convertNumber">
        <xs:annotation>
              <xs:documentation><![CDATA[This tag creates a number formatting converter and associates it
with the nearest parent UIComponent.

Unless otherwise specified, all attributes accept static values or EL expressions.

see Javadoc of <a href="http://java.sun.com/javaee/javaserverfaces/1.2/docs/api/index.html">Faces Specification</a><p>Register a NumberConverter instance on the UIComponent associated with the closest parent UIComponent custom action.</p>]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.ConvertNumberHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="for" >
            <xs:annotation>
              <xs:documentation><![CDATA[{@inheritDoc}]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>         
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="currencyCode" >
            <xs:annotation>
              <xs:documentation><![CDATA[ISO 4217 currency code]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="currencySymbol" >
            <xs:annotation>
              <xs:documentation><![CDATA[The currency symbol used to format a currency value.  Defaults
to the currency symbol for locale.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="groupingUsed" >
            <xs:annotation>
              <xs:documentation><![CDATA[Specifies whether output will contain grouping separators.  Default: true.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="integerOnly" >
            <xs:annotation>
              <xs:documentation><![CDATA[Specifies whether only the integer part of the input will be parsed.  Default: false.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="locale" >
            <xs:annotation>
              <xs:documentation><![CDATA[The name of the locale to be used, instead of the default as
specified in the faces configuration file.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.util.Locale]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="maxFractionDigits" >
            <xs:annotation>
              <xs:documentation><![CDATA[The maximum number of digits in the fractional portion of the number.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: int]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="maxIntegerDigits" >
            <xs:annotation>
              <xs:documentation><![CDATA[The maximum number of digits in the integer portion of the number.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: int]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="minFractionDigits" >
            <xs:annotation>
              <xs:documentation><![CDATA[The minimum number of digits in the fractional portion of the number.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: int]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="minIntegerDigits" >
            <xs:annotation>
              <xs:documentation><![CDATA[The minimum number of digits in the integer portion of the number.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: int]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="pattern" >
            <xs:annotation>
              <xs:documentation><![CDATA[A custom Date formatting pattern, in the format used by java.text.SimpleDateFormat.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="type" >
            <xs:annotation>
              <xs:documentation><![CDATA[The type of formatting/parsing to be performed.  Values include:
number, currency, and percent.  Default: number.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="binding" >
            <xs:annotation>
              <xs:documentation><![CDATA[A ValueExpression that evaluates to a NumberConverter.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.convert.NumberConverter]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="event">
        <xs:annotation>
              <xs:documentation><![CDATA[Registers a listener for a given system event class on the UIComponent associated with this tag.]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.EventHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="listener" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Method Signature: public void listener(jakarta.faces.event.ComponentSystemEvent evt) " + "throws jakarta.faces.event.AbortProcessingException]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="type" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="facet">
        <xs:annotation>
              <xs:documentation><![CDATA[Register a named facet on the UIComponent associated with the closest parent UIComponent custom action.]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.FacetHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="loadBundle">
        <xs:annotation>
              <xs:documentation><![CDATA[Load a resource bundle localized for the Locale of the current view, and expose it (as a Map) in the request
attributes of the current request.]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.LoadBundleHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="passThroughAttribute">
        <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.PassThroughAttributeHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="passThroughAttributes">
        <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.PassThroughAttributesHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="phaseListener">
        <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.PhaseListenerHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="resetValues">
        <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.ResetValuesActionListenerHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="for" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>         
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="render" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Object]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="selectItemGroup">
        <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.SelectItemGroupHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="noSelectionValue" >
            <xs:annotation>
              <xs:documentation><![CDATA[Is either an EL expression pointing to the element in the value collection
whose value should be marked as a "no selection" item, or a literal string
that exactly matches the value of the item in the collection that must be 
marked as the "no selection" item. If the user selects such an item and 
the field is marked as required, then it will not pass validation.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="selectItemGroups">
        <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.SelectItemGroupsHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="noSelectionValue" >
            <xs:annotation>
              <xs:documentation><![CDATA[Is either an EL expression pointing to the element in the value collection
whose value should be marked as a "no selection" item, or a literal string
that exactly matches the value of the item in the collection that must be 
marked as the "no selection" item. If the user selects such an item and 
the field is marked as required, then it will not pass validation.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="selectItems">
        <xs:annotation>
              <xs:documentation><![CDATA[This tag associates a set of selection list items with the nearest
parent UIComponent. The set of SelectItem objects is retrieved via
a value-binding.
<p>
Unless otherwise specified, all attributes accept static values
or EL expressions.
</p>
<p>
UISelectItems should be nested inside a UISelectMany or UISelectOne component,
and results in  the addition of one ore more SelectItem instance to the list of available options
for the parent component
</p><p>null</p>]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.SelectItemsHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="noSelectionValue" >
            <xs:annotation>
              <xs:documentation><![CDATA[Is either an EL expression pointing to the element in the value collection
whose value should be marked as a "no selection" item, or a literal string
that exactly matches the value of the item in the collection that must be 
marked as the "no selection" item. If the user selects such an item and 
the field is marked as required, then it will not pass validation.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="value" >
            <xs:annotation>
              <xs:documentation><![CDATA[The initial value of this component.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Object]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="var" >
            <xs:annotation>
              <xs:documentation><![CDATA[Name of a request-scope attribute under which the current item
of the collection, array, etc. of the value attribute will be 
exposed so that it can be referred to in EL for other attributes 
of this component.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="itemValue" >
            <xs:annotation>
              <xs:documentation><![CDATA[The value for the current item.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.Object]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="itemLabel" >
            <xs:annotation>
              <xs:documentation><![CDATA[The label of the current item.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="itemDescription" >
            <xs:annotation>
              <xs:documentation><![CDATA[The description of the current item.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="itemDisabled" >
            <xs:annotation>
              <xs:documentation><![CDATA[Determines if the current item is selectable or not.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="itemLabelEscaped" >
            <xs:annotation>
              <xs:documentation><![CDATA[Determines if the rendered markup for the current item receives
normal Faces HTML escaping or not.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: boolean]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="id" >
            <xs:annotation>
              <xs:documentation><![CDATA[Get a string which uniquely identifies this UIComponent within the scope of the nearest ancestor NamingContainer
component. The id is not necessarily unique across all components in the current view.]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: true]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>         
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="binding" >
            <xs:annotation>
              <xs:documentation><![CDATA[Identifies a backing bean property (of type UIComponent or appropriate subclass) to bind " + "to this component instance. This value must be an EL expression.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: jakarta.faces.component.UIComponent]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="setPropertyActionListener">
        <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.SetPropertyActionListenerHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="for" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>         
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="validator">
        <xs:annotation>
              <xs:documentation><![CDATA[Register a named Validator instance on the UIComponent associated with the closest parent UIComponent custom
action.]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.ValidateDelegateHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="disabled" >
            <xs:annotation>
              <xs:documentation><![CDATA[no description]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="for" >
            <xs:annotation>
              <xs:documentation><![CDATA[{@inheritDoc}]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>         
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="valueChangeListener">
        <xs:annotation>
              <xs:documentation><![CDATA[Register an ValueChangeListener instance on the UIComponent associated with the closest parent UIComponent custom
action.]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.ValueChangeListenerHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="for" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>         
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="view">
        <xs:annotation>
              <xs:documentation><![CDATA[Creates a Faces View, which is a container that holds all of the components that are part of the view.
<p>
Unless otherwise specified, all attributes accept static values or EL expressions.
</p>
<p>
See the javadoc for this class in the <a href="http://java.sun.com/j2ee/javaserverfaces/1.2/docs/api/index.html">JSF
Specification</a> for further details.
</p><p>Container for all JavaServer Faces core and custom component actions used on a page.</p>]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.ViewHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="locale" >
            <xs:annotation>
              <xs:documentation><![CDATA[The locale for this view.
<p>
Defaults to the default locale specified in the faces configuration file.
</p>]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="renderKitId" >
            <xs:annotation>
              <xs:documentation><![CDATA[Defines what renderkit should be used to render this view.]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="contentType" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="encoding" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="beforePhase" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="afterPhase" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="transient" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[rtexprvalue: false]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="afterPhaseListener" >
            <xs:annotation>
              <xs:documentation><![CDATA[MethodExpression pointing to a method that takes a jakarta.faces.event.PhaseEvent and returns void,
called after every phase except for restore view.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Method Signature: void myMethod(jakarta.faces.event.PhaseEvent)]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="beforePhaseListener" >
            <xs:annotation>
              <xs:documentation><![CDATA[MethodExpression pointing to a method that takes a jakarta.faces.event.PhaseEvent and returns void,
called before every phase except for restore view.]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Method Signature: void myMethod(jakarta.faces.event.PhaseEvent)]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="metadata">
        <xs:annotation>
              <xs:documentation><![CDATA[Defines the view metadata. It is expected that this tag contains only
one or many f:viewParam tags.]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.ViewMetadataHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="websocket">
        <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation>tag-class: org.apache.myfaces.view.facelets.tag.faces.core.WebsocketHandler</xs:documentation>
          <xs:documentation>body-content: JSP</xs:documentation>
        </xs:annotation>
       
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
          </xs:choice>
          <xs:attribute name="channel" >
            <xs:annotation>
              <xs:documentation><![CDATA[]]></xs:documentation>
              <xs:documentation><![CDATA[Deferred Value Type: java.lang.String]]></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
    </xs:element>

</xs:schema>
